<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/init.css" rel="stylesheet">
        

 
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="js/jquery.min.js" charset="utf-8"></script>
         
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="js/bootstrap.min.js" charset="utf-8"></script>
        <script src="js/underscore.js" charset="utf-8"></script>
        <script src="js/assist.js" charset="utf-8"></script>
        <script src="js/base.js" charset="utf-8"></script>
        <title>消息</title>
    </head>
    <body>
		<nav class="container navbar-fixed-top navbar mess">
        	<div class="row clearfix navbox">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10">
                    <h3 class="text-center">消息</h3>
                </div>
                <div class="col-xs-1">
                </div>
            </div>
            
		</nav>
         
        <div class="container message" id="BDTJList">
            <!--消息列表-->
        </div>

        <div class="container navbar-fixed-bottom phonebottommenu hidden-md hidden-lg">
            <div class="row clearfix">
                <div class="col-xs-2 text-center"><a href="homepage.html">首页</a></div>
                <div class="col-xs-3 text-center"><a href="search.html?ct=0">买房</a></div>
                <div class="col-xs-2 text-center"><a href="submitsalehouse.html">卖房</a></div>
                <div class="col-xs-3 text-center ac"><a href="message_list.html">消息</a></div>
                <div class="col-xs-2 text-center"><a href="mine-follow-house.html">我</a></div>
            </div>
        </div>
    </body>
</html>
<script id="BDitem" type="text/template">

	<div class="row clearfix bd" onclick="gomessage('<%= fromuserid %>')">
                
        <div class="col-xs-3">
            <img src="<%= iPath %>" class="img-responsive" />
        </div>
        <div class="col-xs-7 bdtext">
            <h2><%= name %></h2>
            <h6>有<%= unreadcount %>条未读消息</h6>
        </div>
        <div class="col-xs-2">
            
        </div>

	</div>
</script>


<script type="text/javascript">
$(document).ready(function () {
	LoadUsertokenmsg();
    
});
var messagewindow=true;
function gomessage (id) {
    var urls="message.html?oid="+ userfromid +"&toid=" + id;
    layer.open({
        title:vpmsguser,
        type: 2,
        content: urls,
        area:['100%','100%'],
        isOutAnim :false,
        cancel: function(index, layero){ 
            //layer.close(index)
            if(messagewindow){
                top.location.reload();
            }
            return false; 
        }    
    });
}
//数据准备
</script>