<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/init.css" rel="stylesheet">
        

 
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="js/jquery.min.js" charset="utf-8"></script>
         
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="js/bootstrap.min.js" charset="utf-8"></script>
        <script src="js/underscore.js" charset="utf-8"></script>
        <script src="js/jquery.o.js" charset="utf-8"></script>
        <script src="js/assist.js" charset="utf-8"></script>
        <script src="js/base.js" charset="utf-8"></script>
        <title>我的经纪人</title>
    </head>
    <body class="mine-body">

		<nav class="mine-navbar">
            <div class="container">
            <div class="row clearfix">
            
                <div class="col-md-2 col-xs-4">
                    <a class="navbar-brand" href="#"><img src="img/logo-white.png" class="img-responsive" ></a>                
                </div>
                <div class="col-md-10 col-xs-8">
                <div class="row clearfix">
                    <ul class="col-md-6 list-inline menu hidden-xs hidden-sm">
                        <li><a href="homepage.html">首页</a></li>
                        <li><a href="search.html?ct=0">买房</a></li>
                        <li><a href="search.html?ct=1">租房</a></li>
                        <li><a href="submitsalehouse.html">卖房</a></li>
                        
                    </ul>
                    <div class="col-md-4 text-right checkin col-xs-12">
                        <i class="fa fa-phone"></i>400-888-8888 
                        <i class="fa fa-bars hidden hidden-md hidden-lg" style="font-size:20px;"></i>                  
                    </div>
                    <div class="col-md-2 checkin hidden-xs hidden-sm">
                        <i class="fa fa-user"></i><a class="ha" href="login.html">登录</a><a href="login-check.html">注册</a>                    
                    </div>
                </div> 
                </div>
                
            </div>
            </div> 
        </nav>
         
        <div class="container agent" id="BDTJList">
            
            
            <!--div class="row clearfix bd">
            	
            	<div class="col-xs-4">
                	<img src="img/face.jpg" class="img-responsive" />
                </div>
                <div class="col-xs-8 bdtext">
        			<h2>王美丽</h2>
                    <h6><i class="fa fa-mobile-phone"></i>137-8888-8888</h6>
                    <p><span class="label label-default b1">A类客户</span><span class="label label-default b2">富力</span><span class="label label-default b3">看三房</span><span class="label label-default b3">漂亮</span><span class="label label-default b3">儿子</span></p>
                </div>
                <div class="col-xs-12">
                	<i class="fa  fa-phone"></i>电话 <i class="fa  fa-comment-o"></i>消息<i class="fa fa-trash-o"> </i>删除
                </div>
            </div-->
            
        </div>
    </body>
</html>
<script id="BDitem" type="text/template">

	<div class="row clearfix bd">
			
		<div class="col-xs-4">
			<img src="<%= iPath %>" class="img-responsive" />
		</div>
		<div class="col-xs-8 bdtext">
			<h2><%= shopname %></h2>
            <h5><%= scandate %>通过扫码添加</h5>
            <h5><i class="fa fa-phone"></i><%= phonenum %><span onclick="gomessage('<%= oid %>','<%= name %>')"><i class="fa fa-comment-o"></i>消息</span></h5>
		</div>
	</div>
</script>


<script type="text/javascript">
$(document).ready(function () {
	//LoadCUList();
    LoadUsertokentoid();
    LoadAGList();
});

var messagewindow=true;
function gomessage (id) {
    var urls="message.html?oid="+ userfromid +"&toid=" + id;
    layer.open({
        title:vpmsguser,
        type: 2,
        content: urls,
        area:['100%','100%'],
        isOutAnim :false  
    });
}
//数据准备
</script>