<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/init.css" rel="stylesheet">
        

 
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="js/jquery.min.js" charset="utf-8"></script>
         
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="js/bootstrap.min.js" charset="utf-8"></script>
        <script src="js/underscore.js" charset="utf-8"></script>
        <script src="js/jquery.o.js" charset="utf-8"></script>
        <script src="js/assist.js" charset="utf-8"></script>
        <script src="js/base.js" charset="utf-8"></script>

        <script src="js/jquery.validate.min.js"></script>
        <script src="js/validate.messages_zh.js"></script>
        <title>发布出售房源</title>
    </head>
    <body class="sh-body">
    	
        <nav class="sh-navbar">
            <div class="container">
            <div class="row clearfix">
            
                <div class="col-md-2 col-xs-4 mpclear">
                    <a class="navbar-brand" href="#"><img src="img/logo-white.png" class="img-responsive" ></a>                
                </div>
                <div class="col-md-10 col-xs-8 mpclear">
                    <ul class="col-md-6 list-inline menu hidden-xs hidden-sm">
                    	<li><a href="homepage.html">首页</a></li>
                        <li><a href="search.html?ct=0">买房</a></li>
                        <li><a href="search.html?ct=1">租房</a></li>
                        <li><a href="submitsalehouse.html">卖房</a></li>
                        
                    </ul>
                    <div class="col-md-4 text-right checkin col-xs-12">
                    	<i class="fa fa-phone"></i>400-888-8888                    
                    </div>
                    <div class="col-md-2 checkin hidden-xs hidden-sm">
                    	<i class="fa fa-user"></i><a class="ha" href="login.html">登录</a><a href="login-check.html">注册</a>                    
                    </div>
                    
                </div>
                
            </div>
            </div> 
        </nav>
        
       	<div class="sh-title">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 text-center">
                        <h2 class="mpclear">发布出租房源</h2><h5 class="pull-right hidden-xs hidden-sm"><a href="submitsalehouse.html">发布出售房源</a></h5>
                        <h5>更省心的委托体验，革命性的房源展示，平台专业把控</h5>
                        <h5 class="hidden-lg hidden-md"><a style="color:#888;" href="submitsalehouse.html">发布出售房源</a></h5>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="container sh-form">
            <div class="row clearfix">
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="firstname" class="col-md-2 hidden-xs hidden-sm control-label"><h5>房源地址</h5></label>
                            <div class="col-md-8 col-xs-12 col-sm-12">
                              <input type="text" class="form-control input-lg" name="address" id="address" placeholder="请输入您的房源地址">
                              <span class="help-block"></span>
                            </div>
                            <label for="firstname" class="col-md-2 hidden-xs hidden-sm control-label"><h5>安全卖房流程</h5></label>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-md-2 hidden-xs hidden-sm control-label"><h5>小区</h5></label>
                            <div class="col-md-8 col-xs-12 col-sm-12">
                              <input type="text" class="form-control input-lg" name="count" id="count" placeholder="请输入小区名称">
                              <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-md-2 hidden-xs hidden-sm control-label"><h5>房屋地址</h5></label>
                            <div class="col-md-3 col-xs-4 col-sm-4">
                              <input type="text" class="form-control input-lg" name="bulid" id="bulid" placeholder="楼栋号">
                              <span class="help-block"></span>
                            </div>
                            <div class="col-md-3 col-xs-4 col-sm-4">
                              <input type="text" class="form-control input-lg" name="unit" id="unit" placeholder="单元号">
                              <span class="help-block"></span>
                            </div>
                            <div class="col-md-3 col-xs-4 col-sm-4">
                              <input type="text" class="form-control input-lg" name="doorplate" id="doorplate" placeholder="门牌号">
                              <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-md-2 hidden-xs hidden-sm control-label"><h5>期望租金</h5></label>
                            <div class="col-md-5 col-xs-9 col-sm-9">
                              <input type="text" class="form-control input-lg" name="price" id="price" placeholder="请输入您期望的租金">
                              <span class="help-block"></span>
                            </div>
                            <label for="firstname" class="col-md-2 col-xs-2 col-sm-2 control-label text-left"><h5 class="text-left">元/月</h5></label>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-md-2 hidden-xs hidden-sm control-label"><h5>称呼</h5></label>
                            <div class="col-md-8 col-xs-12 col-sm-12">
                              <input type="text" class="form-control input-lg" name="sir" id="sir" placeholder="我们该如何称呼您">
                              <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group sms">
                            <label for="firstname" class="col-md-2 hidden-xs hidden-sm control-label"><h5>手机号码</h5></label>
                            <div class="col-md-8 col-xs-12 col-sm-12">
                              <input type="text" class="form-control input-lg" name="handphone" id="handphone" placeholder="您的手机号，方便我们和您取得联系">
                              <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group code">
                            <label for="firstname" class="col-md-2 hidden-xs hidden-sm control-label"><h5>手机验证码</h5></label>
                            <div class="col-md-8 col-xs-6 col-sm-6">
                              <input type="text" class="form-control input-lg" name="renumber" id="renumber" placeholder="请输入验证码">
                              <span class="help-block"></span>
                            </div>
                            <button type="button" class="btn btn-default col-md-2 col-xs-4 col-sm-3 setmessage"><h5>获取验证码</h5></button>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-6 text-center">
                              <button type="submit" class="btn btn-primary btn-lg btn-block">提交出售委托</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
       
        
        
        <div class="container sh-flow hidden-xs hidden-sm">
            <div class="row clearfix">
                <div class="col-md-12 text-center">
                    <h1>卖房安全流程</h1>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-3">
                	<div class="pull-left"><h3 class="flg">1</h3></div>
                    <div class="pull-left">
                        <h4><b>发布房源</b></h4>
                        <h4>线上免费发布房源</h4>
                    </div>
                    
                </div>
                <div class="col-md-3">
                	<div class="pull-left"><h3 class="flg">2</h3></div>
                    <div class="pull-left">
                        <h4><b>核对房源</b></h4>
                        <h4>30分钟内客服联系</h4>
                    </div>
                    
                </div>
                <div class="col-md-3">
                	<div class="pull-left"><h3 class="flg">3</h3></div>
                    <div class="pull-left">
                        <h4><b>在线销售</b></h4>
                        <h4>房源商家全民销售</h4>
                    </div>
                    
                </div>
                <div class="col-md-3">
                	<div class="pull-left"><h3 class="flg">4</h3></div>
                    <div class="pull-left">
                        <h4><b>签约出售</b></h4>
                        <h4>签约过户全程</h4>
                    </div>
                    
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 text-center">
                	<br>
                    <h4>关注微信公众号提升卖房速度</h4>
                    <h4>登录业主中心主动介绍房子吸引更多买家关注</h4><br>
                    <img src="img/r2.png" style="width:250px;">
                    <p><p>
                </div>
            </div>
        </div>
        
        
        
        
        
        
        
        
        
        <div class="foot hidden-sm hidden-xs">
        	<div class="container">
                <div class="row clearfix">
                    <div class="col-md-8 col-md-offset-3">
                        <h5>
                            <a href="#">关于我们</a>
                           <a href="#"> 联系我们</a>
                            <a href="#">加入我们</a>
                            <a href="#">经纪人</a>
                            <a href="#">隐私声明</a>
                           <a href="#"> 友情链接</a>
                            <a href="#">网站地图</a>
                        </h5>
                        <div class="line"></div>
                        <h6>
                            重庆聚泛网络科技有限责任公司 <b><i class="fa  fa-copyright"></i>copy2010-2017</b><br>
                            网络经营许可证号 123456<b>|</b>备案登记号 粤ICP备01234656-12 <b>|</b> 客服电话 400-123-8888
                        </h6>
                        <p>
                        	<i class="fa  fa-weixin"></i>
                            <i class="fa  fa-android"></i>
                            <i class="fa  fa-apple"></i>
                        </p>
                    </div>
                
                </div>
            </div>
        </div>
        
        
        
        <div class="container navbar-fixed-bottom phonebottommenu hidden-md hidden-lg">
        	<div class="row clearfix">
            	<div class="col-xs-2 text-center"><a href="homepage.html">首页</a></div>
                <div class="col-xs-3 text-center"><a href="search.html?ct=0">买房</a></div>
                <div class="col-xs-2 text-center ac"><a href="submitsalehouse.html">卖房</a></div>
                <div class="col-xs-3 text-center"><a href="message_list.html">消息</a></div>
                <div class="col-xs-2 text-center"><a href="mine-follow-house.html">我</a></div>
            </div>
        </div>
        
        
    </body>
</html>
<script id="BDitem" type="text/template">
	<div class="row clearfix bd">
		<div class="col-xs-5">
			<img src="<%= iPath %>" class="img-responsive" />
		</div>
		<div class="col-xs-7 bdtext">
			<h4><%= hname %></h4>
			<h6><%= layoutName %>/<%= area %>/<%= orieName %>/<%= cname %></h6>
			<p><%= hlabelNames %></p>
			<h6><b><%= totalprice %></b><%= unitprice %></h6>
		</div>
		<div class="col-xs-12 text-right del">
			<i class="fa fa-trash-o"></i>
		</div>
	</div>
</script>

<script id="TJitem" type="text/template">
	<div class="row clearfix tj">
		<div class="col-xs-12">
			<img src="<%= iPath %>" class="img-responsive" />
		</div>
		<div class="col-xs-12 text-right tjtipnum">
			<span class="badge">+<%= icount %></span>
		</div>
		<div class="col-xs-12 tjtitle">
			<div class="col-xs-12 tjtitletext">
				<p><b><%= totalprice %></b> <%= unitprice %> <%= layoutName %>/<%= area %>/<%= orieName %></p>
				<h6><%= hname %></h6>
			</div>
		</div>
	</div>
</script>
<script type="text/javascript">
$(document).ready(function () {

	var validator = $(".form-horizontal").validate({
        rules:{
            handphone:{
                required:true,
                number:true,
                rangelength:[11,11]
            },
            renumber:{
                required:true,
                number:true,
                rangelength:[6,6]
            },
            address:{
                required:true
            },
            count:{
                required:true
            },
            price:{
                required:true
            },
            sir:{
                required:true
            }

        },
        messages:{
            handphone:{
                required: "手机号不能为空",
                number: "手机号是11位数字",
                rangelength: "手机号是11位数字"
            },
            renumber:{
                required:"请输入验证码",
                number:"验证为手机上收到的6位数字",
                rangelength:"验证为手机上收到的6位数字"
            },
            address:{
                required:"请输入您的房源地址"
            },
            count:{
                required:"请输入小区名称"
            },
            price:{
                required:"请输入您期望的价格"
            },
            sir:{
                required:"请输入我们称呼您的名称"
            }
        },
        submitHandler:function(form){
            if(mesok){
                submithouse(1);
            }
        },
        errorPlacement: function(error, element) { 
            error.appendTo(element.next()); 
        }
    }) 
    
    $(".setmessage").click(function (){
        if(validator.element("#handphone")){
            sendmes();
        }
    })
    $("#renumber").keyup(function (){
        if(validator.element("#renumber")){
            checkmes();
        }else{
            numerr();    
        }
    })

});

function numerr() {
    mesok = false;
}
//数据准备
</script>
<style>
.setmessage {height:50px;}
</style>