<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/init.css" rel="stylesheet">
        

 
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="js/jquery.min.js" charset="utf-8"></script>
         
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="js/bootstrap.min.js" charset="utf-8"></script>
        <script src="js/underscore.js" charset="utf-8"></script>
        <script src="js/assist.js" charset="utf-8"></script>
        <script src="js/base.js" charset="utf-8"></script>
        <title>房源对比</title>
    </head>
    <body>
		<nav class="container navbar-fixed-top navbar">
        	<div class="row clearfix navbox">
                <div class="col-xs-1">
                    <h4><i class="fa fa-angle-left"></i></h4>
                </div>
                <div class="col-xs-11">
                    <h3 class="text-center">房源对比</h3>
                </div>
            </div>
            
		</nav>
         
        <div class="container contrast" id="BDTJList">            
            
        </div>
        
        <div id="layer-photos-demo"  class="hidden">
        
        
                    <div class="ibox-content col-xs-12 mpclear" style="overflow:hidden;" id="layer-photos">
                        <div class="carousel slide" id="carousel1">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img alt="image" class="" style="width:100%;" src="img/img1.png">
                                </div>
                                <div class="item">
                                    <img alt="image" class="" style="width:100%;" src="img/img2.png">
                                </div>
                                <div class="item">
                                    <img alt="image" class="" style="width:100%;" src="img/img1.png">
                                </div>

                            </div>
                            <a data-slide="prev" href="carousel.html#carousel1" class="left carousel-control">
                                <span class="icon-prev"></span>
                            </a>
                            <a data-slide="next" href="carousel.html#carousel1" class="right carousel-control">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                    </div>
        
        </div>

    </body>
</html>
<script id="BDitem" type="text/template">
	<div class="row clearfix">
		<div class="col-xs-12">
			
			<table class="table table-bordered">
			  <thead>
				<tr>
				  <th class="col-xs-2">名称</th>
				  <th class="col-xs-5" onclick="showAndroidToast(<%= oid1 %>)"><%= hname1 %></th>
				  <th class="col-xs-5" onclick="showAndroidToast(<%= oid2 %>)"><%= hname2 %></th>
				</tr>
			  </thead>
			  <tbody>
			  	<tr>
				  <td class="col-xs-2">户型图</td>
				  <td class="col-xs-5" onclick="openimageList(<%= igroupoid1 %>)"><img src="<%= cipath1 %>" class=" img-responsive"></td>
				  <td class="col-xs-5" onclick="openimageList(<%= igroupoid2 %>)"><img src="<%= cipath2 %>" class=" img-responsive"></td>
				</tr>
				<tr><td class="colspan text-center" colspan="3">基础信息</td></tr>
				<tr>
				  <td>面积</td>
				  <td><%= area1 %></td>
				  <td><%= area2 %></td>
				</tr>
				<tr>
				  <td>总价</td>
				  <td><%= totalprice1 %></td>
				  <td><%= totalprice2 %></td>
				</tr>
				<tr>
				  <td>均价</td>
				  <td><%= unitprice1 %></td>
				  <td><%= unitprice1 %></td>
				</tr>
				<tr>
				  <td>首付</td>
				  <td>-</td>
				  <td>-</td>
				</tr>
				<tr>
				  <td>楼型</td>
				  <td><%= btypename1 %></td>
				  <td><%= btypename2 %></td>
				</tr>
				<tr>
				  <td>用途</td>
				  <td><%= lutypename1 %></td>
				  <td><%= lutypename2 %></td>
				</tr>
				<tr>
				  <td>楼层</td>
				  <td><%= floor1 %>层/<%= totalfloor1 %>层</td>
				  <td><%= floor2 %>层/<%= totalfloor2 %>层</td>
				</tr>
				<tr>
				  <td>朝向</td>
				  <td><%= orieName1 %></td>
				  <td><%= orieName2 %></td>
				</tr>
				<tr>
				  <td>装修</td>
				  <td><%= decoName1 %></td>
				  <td><%= decoName2 %></td>
				</tr>
				<tr>
				  <td>布局</td>
				  <td><%= layoutName1 %></td>
				  <td><%= layoutName2 %></td>
				</tr>
				<tr>
				  <td>年代</td>
				  <td><%= year1 %></td>
				  <td><%= year2 %></td>
				</tr>
				<tr>
				  <td>区域</td>
				  <td><%= anames1 %></td>
				  <td><%= anames2 %></td>
				</tr>
				<tr>
				  <td>挂牌</td>
				  <td><%= cuoid1 %></td>
				  <td><%= cuoid2 %></td>
				</tr>
				<tr><td class="colspan text-center" colspan=3>房屋尺寸</td></tr>
				<tr>
				  <td>客厅</td>
				  <td><%= livingroom1 %></td>
				  <td><%= livingroom2 %></td>
				</tr>
				<tr>
				  <td>餐厅</td>
				  <td><%= restaurant1 %></td>
				  <td><%= restaurant2 %></td>
				</tr>
				<tr>
				  <td>厨房</td>
				  <td><%= kitchen1 %></td>
				  <td><%= kitchen2 %></td>
				</tr>
				<tr>
				  <td>卧室1</td>
				  <td><%= bedroom1 %></td>
				  <td><%= bedroom2 %></td>
				</tr>
				<tr>
				  <td>卧室2</td>
				  <td><%= bedroom1 %></td>
				  <td><%= bedroom2 %></td>
				</tr>
				<tr>
				  <td>卧室3</td>
				  <td><%= bedroom1 %></td>
				  <td><%= bedroom2 %></td>
				</tr>
				<tr>
				  <td>卧室4</td>
				  <td><%= bedroom1 %></td>
				  <td><%= bedroom2 %></td>
				</tr>
				<tr>
				  <td>卫生间1</td>
				  <td><%= toilet11 %></td>
				  <td><%= toilet12 %></td>
				</tr>
				<tr>
				  <td>卫生间2</td>
				  <td><%= toilet11 %></td>
				  <td><%= toilet12 %></td>
				</tr>
				<tr>
				  <td>卫生间3</td>
				  <td><%= toilet11 %></td>
				  <td><%= toilet12 %></td>
				</tr>
				<tr>
				  <td>阳台1</td>
				  <td><%= balcony11 %></td>
				  <td><%= balcony12 %></td>
				</tr>
				<tr>
				  <td>阳台2</td>
				  <td><%= balcony11 %></td>
				  <td><%= balcony12 %></td>
				</tr>
				<tr>
				  <td>阳台3</td>
				  <td><%= balcony11 %></td>
				  <td><%= balcony12 %></td>
				</tr>
				<tr>
				  <td>建筑产权面积</td>
				  <td><%= area11 %></td>
				  <td><%= area12 %></td>
				</tr>
				<tr>
				  <td>套内产权面积</td>
				  <td><%= area21 %></td>
				  <td><%= area22 %></td>
				</tr>
				<tr>
				  <td>净层高</td>
				  <td><%= height1 %></td>
				  <td><%= height2 %></td>
				</tr>
				<tr><td class="colspan text-center" colspan=3>装修质检</td></tr>
				<tr>
				  <td>入户门</td>
				  <td><%= zxdoor1 %></td>
				  <td><%= zxdoor2 %></td>
				</tr>
				<tr>
				  <td>室内门窗</td>
				  <td><%= zxwindow1 %></td>
				  <td><%= zxwindow2 %></td>
				</tr>
				<tr>
				  <td>墙面</td>
				  <td><%= zxwall1 %></td>
				  <td><%= zxwall2 %></td>
				</tr>
				<tr>
				  <td>地面</td>
				  <td><%= zxground1 %></td>
				  <td><%= zxground2 %></td>
				</tr>
				<tr><td class="colspan text-center" colspan=3>水电质检</td></tr>
				<tr>
				  <td>强电</td>
				  <td><%= sdqd1 %></td>
				  <td><%= sdqd2 %></td>
				</tr>
				<tr>
				  <td>弱电</td>
				  <td><%= sdrd1 %></td>
				  <td><%= sdrd2 %></td>
				</tr>
				<tr>
				  <td>给水</td>
				  <td><%= sdgs1 %></td>
				  <td><%= sdgs2 %></td>
				</tr>
				<tr>
				  <td>排水</td>
				  <td><%= sdps1 %></td>
				  <td><%= sdps2 %></td>
				</tr>
				<tr>
				  <td>排烟</td>
				  <td><%= sdpy1 %></td>
				  <td><%= sdpy2 %></td>
				</tr>
				<tr>
				  <td>漏水</td>
				  <td><%= sdls1 %></td>
				  <td><%= sdls2 %></td>
				</tr>
				<tr><td class="colspan text-center" colspan=3>设施质检</td></tr>
				<tr>
				  <td>桌</td>
				  <td><%= jdz1 %></td>
				  <td><%= jdz2 %></td>
				</tr>
				<tr>
				  <td>床</td>
				  <td><%= jdc1 %></td>
				  <td><%= jdc2 %></td>
				</tr>
				<tr>
				  <td>柜子</td>
				  <td><%= jdg1 %></td>
				  <td><%= jdg2 %></td>
				</tr>
				<tr>
				  <td>冰箱</td>
				  <td><%= jdbx1 %></td>
				  <td><%= jdbx2 %></td>
				</tr>
				<tr>
				  <td>电视</td>
				  <td><%= jdds1 %></td>
				  <td><%= jdds2 %></td>
				</tr>
				<tr>
				  <td>洗衣机</td>
				  <td><%= jdxyj1 %></td>
				  <td><%= jdxyj2 %></td>
				</tr>
				<tr>
				  <td>空调</td>
				  <td><%= jdkt1 %></td>
				  <td><%= jdkt2 %></td>
				</tr>
				<tr>
				  <td>抽油烟机</td>
				  <td><%= jdcyyj1 %></td>
				  <td><%= jdcyyj2 %></td>
				</tr>
				<tr>
				  <td>燃气灶</td>
				  <td><%= jdmqz1 %></td>
				  <td><%= jdmqz2 %></td>
				</tr>
				<tr>
				  <td>热水器</td>
				  <td><%= jdrsq1 %></td>
				  <td><%= jdrsq2 %></td>
				</tr>
				<tr>
				  <td>浴缸</td>
				  <td><%= jdyg1 %></td>
				  <td><%= jdyg2 %></td>
				</tr>
				<tr>
				  <td>马桶</td>
				  <td><%= jdmt1 %></td>
				  <td><%= jdmt2 %></td>
				</tr>
				<tr>
				  <td>花洒</td>
				  <td><%= jdhs1 %></td>
				  <td><%= jdhs2 %></td>
				</tr>
				<tr><td class="colspan text-center" colspan=3>公共空间</td></tr>
				<tr>
				  <td>小区门禁</td>
				  <td><%= comma1 %></td>
				  <td><%= comma2 %></td>
				</tr>
				<tr>
				  <td>小区园林</td>
				  <td><%= comma1 %></td>
				  <td><%= comma2 %></td>
				</tr>
				<tr>
				  <td>楼梯入户</td>
				  <td><%= comma1 %></td>
				  <td><%= comma2 %></td>
				</tr>
				<tr>
				  <td>电梯前室</td>
				  <td><%= comma1 %></td>
				  <td><%= comma2 %></td>
				</tr>
				<tr>
				  <td>公共过道</td>
				  <td><%= comma1 %></td>
				  <td><%= comma2 %></td>
				</tr>
				<tr><td class="colspan text-center" colspan=3>小区情况</td></tr>
				<tr>
				  <td>小区位置</td>
				  <td><%= commlocation1 %></td>
				  <td><%= commlocation1 %></td>
				</tr>
				<tr>
				  <td>建筑年代</td>
				  <td><%= commyear1 %></td>
				  <td><%= commyear1 %></td>
				</tr>
				<tr>
				  <td>楼栋总数</td>
				  <td><%= commbulids1 %></td>
				  <td><%= commbulids1 %></td>
				</tr>
				<tr>
				  <td>住户总数</td>
				  <td><%= commfamily1 %></td>
				  <td><%= commfamily1 %></td>
				</tr>
				<tr>
				  <td>车位总数</td>
				  <td><%= commstop1 %></td>
				  <td><%= commstop1 %></td>
				</tr>
				<tr>
				  <td>车位租金</td>
				  <td><%= commcar1 %></td>
				  <td><%= commcar1 %></td>
				</tr>
				<tr>
				  <td>小区绿化</td>
				  <td><%= commpark1 %></td>
				  <td><%= commpark1 %></td>
				</tr>
				<tr>
				  <td>物管费用</td>
				  <td><%= commmanage1 %></td>
				  <td><%= commmanage1 %></td>
				</tr>
				<tr>
				  <td>小区均价</td>
				  <td><%= communp1 %></td>
				  <td><%= communp1 %></td>
				</tr>
				<tr>
				  <td>小区关注量</td>
				  <td><%= commfollow1 %></td>
				  <td><%= commfollow1 %></td>
				</tr>
				<tr><td class="colspan text-center" colspan=3>不利因素</td></tr>
				<tr>
				  <td>不利因素1</td>
				  <td><%= cuoid1 %></td>
				  <td><%= cuoid2 %></td>
				</tr>
				<tr>
				  <td>不利因素2</td>
				  <td><%= cuoid1 %></td>
				  <td><%= cuoid2 %></td>
				</tr>
				<tr>
				  <td>不利因素3</td>
				  <td><%= cuoid1 %></td>
				  <td><%= cuoid2 %></td>
				</tr>
				<tr>
				  <td>不利因素4</td>
				  <td><%= cuoid1 %></td>
				  <td><%= cuoid2 %></td>
				</tr>
				<tr>
				  <td>不利因素5</td>
				  <td><%= cuoid1 %></td>
				  <td><%= cuoid2 %></td>
				</tr>
				<tr>
				  <td>不利因素6</td>
				  <td><%= cuoid1 %></td>
				  <td><%= cuoid2 %></td>
				</tr>
			  </tbody>
			</table>
			
		</div>
	</div>
</script>


<script type="text/javascript">
$(document).ready(function () {
	LoadHCList();
});
//数据准备
</script>