<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/init.css" rel="stylesheet">
        

 
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="js/jquery.min.js" charset="utf-8"></script>
         
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="js/bootstrap.min.js" charset="utf-8"></script>
        <script src="js/underscore.js" charset="utf-8"></script>
        <script src="js/assist.js" charset="utf-8"></script>
        <script src="js/base.js" charset="utf-8"></script>
        <title>房源对比</title>
    </head>
    <body>
		<nav class="container navbar-fixed-top navbar">
        	<div class="row clearfix navbox">
                <div class="col-xs-1">
                    <h4><i class="fa fa-angle-left"></i></h4>
                </div>
                <div class="col-xs-11">
                    <h3 class="text-center">房源对比</h3>
                </div>
            </div>
            
		</nav>
         
        <div class="container  editcontrast">            
            <!--div class="row clearfix">
            	<div class="col-xs-5">
                    <img src="img/img2.png" class="img-responsive" />
                </div>
                <div class="col-xs-7 bdtext">
                    <h4>天朗明居 高层厅出2房 视野开阔 南向带车位</h4>
                    <h6>2室1厅/116m2/东南/富力天朗</h6>
                    <p><span class="label label-default b1">满五年</span><span class="label label-default b2">近地铁</span><span class="label label-default b3">医院</span></p>
                    <h6><b>245万</b> 28920元/平米</h6>
                </div>
            	<div class="col-xs-12 text-right">
                	<i class="fa fa-trash-o"></i>
                </div>
            </div-->

            
            
        </div>
        
        <div class="container">
        	<div class="row clearfix">
            	<div class="col-xs-12">
                	 <button type="button" class="btn btn-default btn-block">添加</button>
                </div>
                <div class="col-xs-12">
                	 <button type="button" class="btn btn-primary btn-block">开始对比</button>
                </div>
            </div>
        </div>
    </body>
</html>
<script id="BDitem" type="text/template">
	<div class="row clearfix bd" onclick="b(this,'<%= oid %>')">
	
		<div class="col-xs-5">
			<img src="<%= cipath %>" class="img-responsive" />
		</div>
		<div class="col-xs-7 bdtext">
			<h4><%= hname %></h4>
			<h6><%= layoutName %>/<%= area %>/<%= orieName %>/<%= cname %></h6>
			<p><%= clabels %></p>
			<h6><b><%= totalprice %></b><%= unitprice %></h6>
		</div>
	</div>
</script>
<script id="BD2item" type="text/template">
	<div class="row clearfix bd">
		<div class="col-xs-5">
			<img src="<%= cipath %>" class="img-responsive" />
		</div>
		<div class="col-xs-7 bdtext">
			<h4><%= hname %></h4>
			<h6><%= layoutName %>/<%= area %>/<%= orieName %>/<%= cname %></h6>
			<p><%= clabels %></p>
			<h6><b><%= totalprice %></b><%= unitprice %></h6>
		</div>
	</div>
</script>
<script type="text/javascript">
$(document).ready(function () {
	//LoadECOList();
	//url获取一个oid
	//存到cookie里
	//cookie里的值循环展示出所有房源
	//删除指定的一套oid
	loadmt();
	$("button").eq(1).click(function () {
	opencontrast();
	}) 
	$("button").eq(0).click(function () {
	location.href="http://120.76.53.1:9102/search.html"
	//showAndroidloadPage("search.html");
	}) 
});
var bt=new Array();
var mt=new Array();
function savemt() {
//console.log(bpao("mt"));
	if(getPageoid() != 0){
		//console.log(bpao("mt"));
		if(bpao("mt") != ""){
			mt = bpao("mt").split("|")
		}
		
		if( $.inArray(getPageoid().toString(), mt) == -1){
			mt.push(getPageoid().toString());
		}
		
		//console.log(mt);
		bpai("mt",mt.join("|"));
	}
}
savemt();
//-------------
var loadmti=0;
function loadmt() {
	
	console.log(222)
	if(bpao("mt") == "" && getPageoid() == 0){
		console.log(333)
		return;
	}
	if(getPageoid() == 0) {
		mt=bpao("mt").split("|");
		console.log(444)
	}
	console.log(mt);
	LoadNECOList(mt[loadmti]);
}
//----
function b(obj,num) {
	
	if($(obj).css("background-color") == "rgb(250, 250, 250)") {
		$(obj).css("background-color","#ffffff");//no
		delbt(num);
	}else{
		if(bt.length>=2){
			layer.msg("只能选择2套对比")
			return;
		}
		$(obj).css("background-color","#FAFAFA");//yes
		addbt(num);
	}
	console.log(bt);
}
function addbt(num) {
	bt.push(num);
}
function delbt(num) {
	for(i=0;i<bt.length;i++){
		if(bt[i] == num){
			bt.splice(i,1)
			return;
		}
	}
}
//--
function opencontrast () {
	if(bt.length < 2){
		layer.msg("请选择2套房源进行对比");
		return;
	}
	location.href="http://120.76.53.1:9102/contrast.html?h1="+bt[0]+"&h2="+bt[1];
	//showAndroidloadPage("contrast.html?h1="+bt[0]+"&h2="+bt[1]);
}
//数据准备
</script>