<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/init.css" rel="stylesheet">
        

 
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="js/jquery.min.js" charset="utf-8"></script>
         
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="js/bootstrap.min.js" charset="utf-8"></script>
        <script src="js/underscore.js" charset="utf-8"></script>
        <script src="js/assist.js" charset="utf-8"></script>
        <script src="js/base.js" charset="utf-8"></script>
        <title>消息</title>
    </head>
    <body>
		<nav class="container navbar-fixed-top navbar">
        	<div class="row clearfix navbox">
                <div class="col-xs-1">
                    <h4><i class="fa fa-angle-left"></i></h4>
                </div>
                <div class="col-xs-10">
                    <h3 class="text-center">消息</h3>
                </div>
                <div class="col-xs-1">
                    
                </div>
            </div>
            
		</nav>
         
        <div class="container message" id="BDTJList">
            <!--消息列表-->
        </div>
    </body>
</html>
<script id="BDitem" type="text/template">

	<div class="row clearfix bd" onclick="Androidtalktocust('<%= fromuserid %>')">
                
        <div class="col-xs-3">
            <img src="<%= iPath %>" class="img-responsive" />
        </div>
        <div class="col-xs-7 bdtext">
            <h2><%= name %></h2>
            <h6>有<%= unreadcount %>条未读消息</h6>
        </div>
        <div class="col-xs-2">
            
        </div>

	</div>
</script>


<script type="text/javascript">
$(document).ready(function () {
	LoadUsermsg();
});
//gomessage('<%= fromuserid %>')
function gomessage (id) {
    location.href="message.html?oid="+getPageoid()+"&toid=" + id;
}
//数据准备
</script>