<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">

<META NAME="viewport" CONTENT="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">

<title>房贷计算器</title>
    
    <link rel="stylesheet" rev="stylesheet" href="fd.css" type="text/css" />
    
</head>
<body>


        
    
    <div class="calcontent">
        <div class="calleft" id="calleft">
            <div class="item-mod item-top">
                <label class="item-label"><i class="icon icon-help" id="repaytype-tips"></i><span>还款方式</span></label>
                <span><input type="radio" name="repaytype" class="int-radio r1" value="1" checked=true>等额本息</span><span><input type="radio" name="repaytype" class="int-radio" value="2">等额本金</span>
            </div>
            <div class="item-mod">
                <label class="item-label"><span>贷款类别</span></label>
                <span><input name="loantype" type="radio" class="int-radio r1" value="1" checked=true>公积金贷</span><span><input 
                    type="radio" name="loantype" class="int-radio" value="2">商业贷款</span><span><input 
                    type="radio" name="loantype" class="int-radio" value="3">组合贷</span>
            </div>
            <div class="item-mod" id="calType">
                <label class="item-label"><span>计算方式</span></label>
                <span><input type="radio" name="caltype" class="int-radio r1" value="1" checked=true>根据贷款总额</span><span><input 
                    type="radio" name="caltype" class="int-radio" value="2">根据按揭比例</span>
            </div>
            <div class="item-mod" id="totalCapital">
                <label class="item-label"><span>贷款总额</span></label>
                <div class="textbox"><input type="text" value="100" maxlength="9" name="total-capital"/><em>万元</em></div>
                <span class="warn"></span>
            </div>
            <div class="item-mod adTop" id="gjjCapital" style="display:none;">
                <label class="item-label"><span>贷款金额</span></label>
                <span class="pre-detail">使用公积金贷款</span>
                <div class="textbox mid"><input type="text" value="100" maxlength="9" name="gjj-capital"/><em>万元</em></div>
                <span class="warn"></span>
            </div>
            <div class="item-mod adTop" id="bizCapital" style="display:none;">
                <span class="pre-detail">使用商业性贷款</span>
                <div class="textbox mid"><input type="text" value="100" maxlength="9" name="biz-capital"/><em>万元</em></div>
                <span class="warn"></span>
            </div>
            <div class="item-mod adTop pop" id="capitalPercent" style="display:none;">
                <label class="item-label"><span>首付比例</span></label>
                <div class="selectbox" id="prePay">
                    <select>
                                                <option value="0.1">1&nbsp;成</option>
                                                <option value="0.2">2&nbsp;成</option>
                                                <option value="0.3">3&nbsp;成</option>
                                                <option value="0.4">4&nbsp;成</option>
                                                <option value="0.5">5&nbsp;成</option>
                                                <option value="0.6">6&nbsp;成</option>
                                                <option value="0.7">7&nbsp;成</option>
                                                <option value="0.8">8&nbsp;成</option>
                                                <option value="0.9">9&nbsp;成</option>
                        
                    </select>
                </div><span class="warn"></span>
            </div>
            <div class="item-mod adTop pop">
                <label class="item-label"><span>按揭年数</span></label>
                <div class="selectbox" id="loanTime">
                    <select>
                                                        <option value="6">6个月（6期）</option>
                                                        <option value="12">1年（12期）</option>
                                                        <option value="24">2年（24期）</option>
                                                        <option value="36">3年（36期）</option>
                                                        <option value="48">4年（48期）</option>
                                                        <option value="60">5年（60期）</option>
                                                        <option value="72">6年（72期）</option>
                                                        <option value="84">7年（84期）</option>
                                                        <option value="96">8年（96期）</option>
                                                        <option value="108">9年（108期）</option>
                                                        <option value="120">10年（120期）</option>
                                                        <option value="132">11年（132期）</option>
                                                        <option value="144">12年（144期）</option>
                                                        <option value="156">13年（156期）</option>
                                                        <option value="168">14年（168期）</option>
                                                        <option value="180">15年（180期）</option>
                                                        <option value="192">16年（192期）</option>
                                                        <option value="204">17年（204期）</option>
                                                        <option value="216">18年（216期）</option>
                                                        <option value="228">19年（228期）</option>
                                                        <option value="240">20年（240期）</option>
                                                <option value="300">25年（300期）</option>
                        <option value="360">30年（360期）</option>

                </select>
                </div><span class="warn"></span>
            </div>
            <div class="item-mod adTop" id="bizRate" style="display:none;">
                <label class="item-label"><i class="icon icon-help" id="biz-help"></i><span>商贷利率</span></label>
                <div class="textbox short"><input type="text" value="4.90" maxlength="9" name="biz-rate"/></div>
                <span>&nbsp;%</span>
                <span class="warn"></span>
            </div>
            <div class="item-mod adTop" id="gjjRate">
                <label class="item-label"><i class="icon icon-help" id="gjj-help"></i><span>利率</span></label>
                <div class="textbox short"><input type="text" value="3.25" maxlength="9" name="gjj-rate"/></div>
                <span>&nbsp;%</span>
                <span class="warn"></span>
            </div>
            <div class="item-mod" id="discount">
                <span><input checked="checked" type="radio" name="discount" class="int-radio r1" value="1">基准利率
                </span><span style="display:none;"><input type="radio" name="discount" class="int-radio" value="0.85">首套优惠85折
                </span><span style="display:none;"><input type="radio" name="discount" class="int-radio" value="0.95">首套优惠95折
                </span>
            </div>
            <div class="item-mod" id="discount-part2">
                <span><input type="radio" name="discount" class="int-radio r1" value="1.1">第二套房利率</span>
            </div>
            <div class="item-bot">
                <a class="cal-button" href="javascript:" id="startCal">开始计算</a><a class="cal-reset" href="javascript:" id="resetCal">清空重填</a>
            </div>
            
        </div>
        <div class="calright">
            <div id="caldefault" class="default">
                <i></i><p>要贷款买房？赶紧算算吧！</p>
            </div>

            <div class="resultContent" id="result-table" style="display:none">
                <div id="table-wrap"></div>
                <p class="result-tip"><i class="icon icon-help" id="result-help"></i>* 以上结果仅供参考</p>
            </div>
        </div>
        
    </div>    
   

        
<script type="text/template" id="cal-loan-tpl">
     <table>
        <thead>
            <tr>
                <td colspan="2">
                    <% if(repayType == 1){%>等额本息<%}%>
                    <% if(repayType == 2){%>等额本金<%}%>
                </td>
            </tr>
        </thead>
        <tbody>
            <% if(calType == 2 && loanType != 3){%>
                <tr><th>房款总额</th><td><em><%= housePrice %></em>万元</td></tr>
                <tr><th>首付款</th><td><em><%= downPayment %></em>万元</td></tr>
            <% }%>
            <tr><th>贷款总额</th><td><em><%= totalCapital %></em>万元</td></tr>
            <% if(loanType == 1 || loanType == 3){%>
                <tr><th>公积金贷款利率</th><td><%= gjjRate %> %</td></tr>
            <% }%>
            <% if(loanType == 2 || loanType == 3){%>
                <tr><th>商业贷款利率</th><td><%= bizRate %> %</td></tr>
            <% }%>
            <tr><th>还款总额</th><td><em><%= totalRepay %></em>万元</td></tr>
            <tr><th>支付利息</th><td><em><%= totalInterest %></em>万元</td></tr>
            <tr><th>贷款月数</th><td><em><%= month %></em>月</td></tr>
            <% if(repayType == 1){%>
                 <tr><th>月均还款</th><td><em><%= monthRepay %></em>元</td></tr>
            <% }%>
            <% if(repayType == 2){%>
                <tr><th>首月还款</th><td><em><%= firstRepay %></em>元</td></tr>
                <tr><th>末月还款</th><td><em><%= lastRepay %></em>元</td></tr>
            <%}%>           
        </tbody>
    </table>

</script>
    

<script type="text/javascript"  src="jquery-underscore.min.js"></script>
<script type="text/javascript"  src="bbv6.js"></script>
<script type="text/javascript"  src="Ershou_Web_Seo_Sitemap_PropertyPriceLoanCalculator.js"></script>
<script type="text/javascript">





	$(document).ready(function(){
		
	});

    ajk.Calculator.Loan([0.0275,0.0325],[0.0435,0.0435,0.0475,0.0475,0.049], [2015,10,24],'http://www.darunjia.cn');


</script>
    

    



    
    


</body>
</html>