@charset "utf-8";
/* CSS Document */
* {font-family:"Microsoft Yahei","微软雅黑","Droid Sans Fallback";}
.container {background:#ffffff;font-size:14px; letter-spacing:0px;}
.btn {border-radius:3px;}
.btn-primary {background:#1697d3;border:#1697d3 solid 1px;}

h1{font-size:24px;line-height:26px;}
h2{font-size:20px;line-height:22px;}
h3{font-size:18px;line-height:20px;}
h4{font-size:14px;line-height:16px;}
h5{font-size:12px;line-height:14px;}
h6{font-size:10px;line-height:12px;}

.label{margin-right:10px;display: -webkit-inline-box;margin-bottom:4px;}
.b1{color:#07b59a;background:#aaffd6;font-weight:100;}
.b2{color:#0392bc;background:#ccecfe;font-weight:100;}
.b3{color:#32a200;background:#c3ffbd;font-weight:100;}
.b4{color:#4388de;background:#dbf4ff;font-weight:100;}
.b5{color:#21cdd8;background:#ccfff6;font-weight:100;}

.ft1 {color:#000000;}
.ft2 {color:#ffffff;}
.ft3 {color:#888888;}
.ft4 {color:#01Ac09;}
.ft5 {color:#E50026;}
.flg {font-size:60px;}
.btn { border-radius:5px;}
.v{line-height:34px;padding-top:10px;}
.mpclear {margin:0px; padding:0px;}

a { text-decoration:none;color:#000;width:100%;height:100%;}
a:visited { text-decoration:none;color:#000;width:100%;height:100%;}
a:hover { text-decoration:none;color:#000;width:100%;height:100%;}

.mpclear {margin:0px; padding:0px;}
#layer-photos a,#layer-photos a:hover,#layer-photos a:visited {width:20%;height:100%;}
/*---------------*/
.lmname h5 {color:#888888;margin-top:30px;}
.lmname i {margin-left:10px;}
i {margin-left:10px; margin-right:10px;}

.navbar {background:#f0f0f0;}

.navbox .col-xs-1 {padding:4px;text-align:center;padding-top:8px;}
.navbox .col-xs-8 {padding:4px;padding-top:8px;}
.navbox .col-xs-8 .input-group-addon {background:#fff;border:#000 solid 0px; color:#e0e0e0;}
.navbox .col-xs-8 .btn-default {background:#fff;border:#fff solid 1px; color:#888;}
.navbox .col-xs-8 .dropdown-menu {min-width:auto;}
.navbox .col-xs-8 .form-control,.messageinput .form-control {background:#fff;border:#fff solid 1px;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075); 
	-webkit-transition: border-color ease-in-out 0s,-webkit-box-shadow ease-in-out 0s;
	transition: border-color ease-in-out 0s,box-shadow ease-in-out 0s; }
.navbox .col-xs-8 .form-control:focus,.messageinput .form-control:focus {background:#fff;border:#fff solid 1px; 
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6); 
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6); 
    -webkit-transition: border-color ease-in-out 0s,-webkit-box-shadow ease-in-out 0s;
	transition: border-color ease-in-out 0s,box-shadow ease-in-out 0s;}
.navbox .col-xs-3 {padding-top:4px;padding-top:8px;}
.navbox h3 {margin-top:16px;}

.navmenu .col-xs-3 {text-align:center;}
.navmenu .col-xs-3 i {margin-left:4px;}

.floor {background:#000000; position:fixed;left:0px;top:0px;z-index:100;opacity:0.5;width:100%;height:100%;display:none;}
.bottombu { background-color:transparent;width:50px;margin-right:20px;}
.bottombu .col-xs-12 { opacity:0.8;border-radius:20px;background:#000;color:#fff;font-weigth:100;height:25px;text-align:center;line-height:24px;font-size:12px;padding-left:0px;padding-right:0px;margin-bottom:20px;padding-top:0px;}
.bottombu .col-xs-12 i {margin-right:0px;margin-left:0px;}

.pointdata {border-top:#f0f0f0 solid 1px;border-bottom:#f0f0f0 solid 1px;padding-top:10px;padding-bottom:10px;}
.pointdata h4 {color:#000;font-size:14px;line-height:14px;}
.pointdata p{color:#e50026;font-size:18px;font-weight:900;line-height:18px;}
.pointdata .black{color:#000;}
.pointdata .gracy{color:#888;}
.pointdata div{text-align:center;}
.lbheight {height:auto;}
.notopborder {border-top:#000 solid 0px;}
.nobottomborder {border-bottom:#000 solid 0px;}
/*---------------*/
.tj { position:relative;margin-bottom:20px;}
.tjtipnum {position: absolute;z-index:10;top:0px;left:0px;margin-top:10px;padding-right:30px;height:30px;}
.tjtipnum .badge {background:#1697d3;font-size:10px;}
.tjtitle {position:absolute;z-index:10;bottom:0px;left:0px;}
.tjtitletext {background:url(../img/blackbg.png) repeat;padding-top:5px;}
.tjtitletext p {color:#fff;font-size:10px;margin-bottom:5px;margin-top:5px;}
.tjtitletext b{font-size:18px;font-weight:900px;margin-right:20px;}
.tjtitletext h6{color:#ffffff;margin-top:5px;margin-bottom:5px;}

.bd {margin-bottom:20px;font-size:12px;border-bottom:#f0f0f0 solid 1px;}
.bdtext {padding-left:0px;}
.bdtext h2{margin-top:0px;}
.bdtext h4{font-weight:900;margin-top:0px;}
.bd h4{font-weight:900;margin-top:0px;}
.bdtext h6{color:#888888;line-height:16px;margin-top:15px;}
.bd .col-xs-12 {margin-top:0px;margin-bottom:5px;padding-top:0px;}
.hs {border-bottom:#f0f0f0 solid 0px;}
.hs i {margin-left:0px;}
.hs .fa-phone {margin-left:20px;}
.bdtext p{margin-top:10px;margin-bottom:10px;padding-top:5px;padding-bottom:5px;}

.bdtext h6 {color:#888888;}
.bdtext h6 b{font-size:18px;color:#e50026;margin-right:10px;}
.bdtext h6 b sup{font-size:xx-small;}
.bdtext .del{padding-right:30px;padding-top:10px;}
.del i{color:#888888;}
/*---------------*/
#SerchList {margin-top:90px;}
.area {width:100%;height:300px;background:#fff;border-top:#e3e3e3 solid 1px; overflow:hidden;display:none;}
.qybox1,.qybox2,.qybox3 {height:300px; overflow:auto;background:#f0f0f0;}
.qybox2 li,.qybox3 li {background:#f0f0f0;}
.qybox1{background:#ffffff;}
.price {width:100%;height:300px;background:#fff;border-top:#e3e3e3 solid 1px; overflow: auto;display:none;}
.house {width:100%;height:300px;background:#fff;border-top:#e3e3e3 solid 1px; overflow: auto;display:none;}
.more {width:100%;height:600px;background:#fff;border-top:#e3e3e3 solid 1px; overflow: auto;display:none;}
.sort {width:100%;height:285px;background:#fff;border-top:#e3e3e3 solid 0px; overflow: hidden;display:none;}

.list-unstyled li{width:100%;height:40px;border-top:#f0f0f0 solid 1px;padding-left:20px;line-height:40px;padding-right:20px;}
.list-unstyled button{margin-top:10px;margin-left:autop;margin-right:auto;}
.list-unstyled label{margin-right:20px;height: 20px;}
.list-unstyled {margin-left:-15px;margin-right:-15px;}

.minprice {width:80px;height:35px;background:#f0f0f0;border:#000 solid 0px;border-radius:4px;padding-left:10px;color:#888888;margin-right:10px;margin-top:10px;}
.maxprice {width:80px;height:35px;background:#f0f0f0;border:#000 solid 0px;border-radius:4px;padding-left:10px;color:#888888;margin-right:10px;margin-left:10px;margin-top:10px;}
.price button {margin-top:0px;margin-left:10px;}
.more .btn-xs {margin-right:8%;}
.more .btn-default {background:#fff;border:#888 solid 1px;}
.sort li {text-align:center;}
/*---------------*/
.details {margin-top:5px;}
.col-xs-12 {padding-top:0px;padding-bottom:3px;}
.details li,.detailslist li {font-size:12px;font-weight:100;}
.details li i,.detailslist li i {font-size:12px;color:#888888; font-style:normal;margin-right:0px;margin-left:0px;}
.line {height:10px; background:#f0f0f0;border-top:solid #cccccc 1px;}
.panel-title {margin-top:0px;margin-bottom:0px;padding-left:20px;}
.panel-title h4{margin-top:0px;margin-bottom:0px;padding-top:10px;padding-bottom:10px;line-height:30px;}
#accordion {background:#f0f0f0;}
#dmap {height:200px;}
#result {height:43px;background:#f0f0f0; position: static;z-index:100;top:70px;right:10px; overflow:hidden;margin:0px;padding:0px;}
#result-content {width:100%;height:30px; overflow:hidden;overflow-y:scroll;margin:0px;padding:0px;}
#result .nav-tabs>li.active>a, #result  .nav-tabs>li.active>a:focus, #result  .nav-tabs>li.active>a:hover {border-bottom:#1697d3 solid 3px;color:#000;padding-left:11px;padding-right:11px;}
#result .nav-tabs>li>a,#result  .nav-tabs>li>a:hover,#result  .nav-tabs>li>a:focus{background:transparent;color:#888888;border:#000 solid 0px;padding-left:11px;padding-right:11px;}
#datachart {height:300px;margin-top:20px;}


.panel-default{border-color:#ddd;margin-bottom:15px;}
.panel-default>.panel-heading{color:#333;background-color:#ffffff;border-color:#ddd}
.panel-default>.panel-heading+.panel-collapse>.panel-body{border-top-color:#f0f0f0}
.panel-default>.panel-heading .badge{color:#f5f5f5;background-color:#333}
.panel-default>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#ddd}
.panel-heading{padding:0px 0px;border-bottom:1px solid transparent;border-top-left-radius:0px;border-top-right-radius:0px}
.panel {border:#cccccc solid 1px; border-left:#888 solid 0px;border-right:#888 solid 0px;margin-bottom:15px;}
.panel-group .panel {margin-bottom: 10;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;border-top-left-radius: 0px;border-top-right-radius: 0px;}
.detailslist .table  td{font-size:14px;width:50%;}
.detailslist .table  th{font-size:14px;width:50%;}
.red {color:#e50026;}
.green {color:#01ac09;}

.message  .bd {margin-bottom:0px;padding-top:5px;padding-bottom: 5px;border-bottom-width: 0px;}
.message{margin-top: 50px;margin-bottom:50px;}
.messboxL {border:#f0f0f0 solid 1px;background:#f0f0f0;border-radius:4px;padding:10px;margin-right: 10px;line-height:  16px;font-size:14px;}
.messboxR {border:#1697d3 solid 1px;background:#1697d3;border-radius:4px;padding:10px;margin-left: 10px;color: #fff;line-height: 16px;font-size:14px;}
.message .mpclear{padding:5px;margin:0px;}
.message .label-info {font-weight: 100;}
.message .fa-caret-left{position: absolute;top:18px;left: 0px;z-index: 100;font-size:24px;color:#f0f0f0;}
.message .fa-caret-right{position: absolute;top:18px;right: 0px;z-index: 100;font-size:24px;color:#1697d3;}
.messageinput .mpclear {margin:0px;padding:5px;}
.messageinput {border-top: #f0f0f0 solid 1px;}
/*------*/
.mine {margin-top:70px;}
.mine .pointdata .col-xs-6 {padding-top:20px;padding-bottom:20px;}

/*------*/
.contrast,.user {margin-top:70px;}
.contrast .col-xs-12 {padding-left:0px;padding-right:0px;}
.contrast .colspan {background:#f3f3f3;color:#888;}
.table-bordered .th,.table-bordered .td {padding:0px;}
.editcontrast .bd{margin-bottom:0px;padding-top:15px;}
.editcontrast{margin-top:50px;}
