<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jufangbao.house.shhouse.mapper.TCmAgentMapper">
  <resultMap id="BaseResultMap" type="cn.jufangbao.house.shhouse.model.TCmAgent">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="worknum" jdbcType="VARCHAR" property="worknum" />
    <result column="phonenum" jdbcType="BIGINT" property="phonenum" />
    <result column="passwd" jdbcType="VARCHAR" property="passwd" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="idcardnum" jdbcType="VARCHAR" property="idcardnum" />
    <result column="workyear" jdbcType="INTEGER" property="workyear" />
    <result column="lastlogindate" jdbcType="TIMESTAMP" property="lastlogindate" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="igroupid" jdbcType="VARCHAR" property="igroupid" />
    <result column="icount" jdbcType="BIGINT" property="icount" />
    <result column="shopname" jdbcType="VARCHAR" property="shopname" />
    <result column="ipath" jdbcType="VARCHAR" property="ipath" />
    <result column="bgipath" jdbcType="VARCHAR" property="bgipath" />
    <result column="servicearea" jdbcType="VARCHAR" property="servicearea" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="qrcodeticket" jdbcType="VARCHAR" property="qrcodeticket" />
    <result column="qrcodepath" jdbcType="VARCHAR" property="qrcodepath" />
    <result column="introducer" jdbcType="VARCHAR" property="introducer" />
    <result column="introducerphonenum" jdbcType="BIGINT" property="introducerphonenum" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <select id="oneAgent" parameterType="String" resultType="cn.jufangbao.house.shhouse.dto.AgentDto">
    SELECT
        t1.*, count(t2.oid) AS dealcount,
        count(t3.oid) AS browsecount
    FROM
        t_cm_agent t1
    INNER JOIN t_cm_agent_deal t2 ON t1.oid = t2.aoid
    AND t2.`status` = 1
    INNER JOIN t_cm_agent_browse t3 ON t1.oid = t3.aoid
    AND t3.`status` = 1
    AND t1.oid = #{oid}
    GROUP BY
        t1.oid
  </select>

  <select id="listAgentCust" resultType="cn.jufangbao.house.shhouse.dto.AgentCustDto">
  SELECT
      t3.*, t2.oid AS custid, t5.dictname AS ctypename,
      GROUP_CONCAT(
          DISTINCT t6.dictname
          ORDER BY
              t6.sort
      ) AS clabels
  FROM
      t_cm_agent t1
  INNER JOIN t_cm_agent_cust t2 ON t1.oid = t2.aoid
  AND t2.`status` = 1
  INNER JOIN t_cm_customer t3 ON t2.coid = t3.oid
  LEFT JOIN t_cm_cust_label t4 ON t3.oid = t4.coid
  AND t4.`status` = 1
  LEFT JOIN t_sa_dict_item t5 ON t2.custtype = t5.dictid
  AND t5.groupid = 'CUST_TYPE'
  AND t5.`status` = 1
  LEFT JOIN t_sa_dict_item t6 ON t4.clabel = t6.dictid
  AND t6.groupid = 'CUST_LABEL'
  AND t6.`status` = 1
  WHERE
      t1.oid = #{aoid}
  AND t5.dictid = #{custType}
  GROUP BY
      t1.oid,
      t2.custtype
  </select>

    <sql id="houseQueryColumn">
        SELECT
        t1.*, t2.dictname AS deconame,
        t3.dictname AS oriename,
        t4.dictname AS statname,
        t6.dictname AS layoutname,
        GROUP_CONCAT(
        DISTINCT t12.dictname
        ORDER BY
        t12.dictname
        ) AS hlabelnames,
        t13.cname,
        t13.ipath AS cipath,
        t15.dictname AS btypename,
        t17.dictname AS lutypename,
        GROUP_CONCAT(
        DISTINCT t8.aname
        ORDER BY
        t8.aname
        ) AS anames,
        t14.floor as totalfloor
        , GROUP_CONCAT(
        DISTINCT t112.dictname
        ORDER BY
        t112.sort
        ) AS clabels
    </sql>

    <sql id="select">
        FROM
        t_res_house t1
        LEFT JOIN t_sa_dict_item t2 ON t1.decoration = t2.dictid
        AND t2.`status` = 1
        AND t2.groupid = 'HOUSE_DECORATION'
        LEFT JOIN t_sa_dict_item t3 ON t1.orientation = t3.dictid
        AND t3.`status` = 1
        AND t3.groupid = 'HOUSE_ORIENTATION'
        LEFT JOIN t_sa_dict_item t4 ON t1.`status` = t4.dictid
        AND t4.groupid = 'HOUSE_SALE_STATUS'
        LEFT JOIN t_sa_dict_item t6 ON t1.hlayout = t6.dictid
        AND t6.`status` = 1
        AND t6.groupid = 'HOUSE_LAYOUT'
        LEFT JOIN t_res_comm_area t7 ON t1.coid = t7.coid
        AND t7.`status` = 1
        LEFT JOIN t_sa_area t8 ON t7.aoid = t8.oid
        AND t8.`status` = 1
        LEFT JOIN t_res_comm_metro t9 ON t1.coid = t9.coid
        AND t9.`status` = 1
        LEFT JOIN t_sa_metro t10 ON t9.moid = t10.oid
        AND t10.`status` = 1
        LEFT JOIN t_res_house_label t11 ON t1.oid = t11.hoid
        AND t11.`status` = 1
        LEFT JOIN t_sa_dict_item t12 ON t11.hlabel = t12.dictid
        AND t12.`status` = 1
        AND t12.groupid = 'HOUSE_LABEL'
        LEFT JOIN t_res_comm t13 ON t1.coid = t13.oid
        LEFT JOIN t_res_building t14 ON t1.boid = t14.oid
        LEFT JOIN t_sa_dict_item t15 ON t14.btype = t15.dictid
        AND t15.`status` = 1
        AND t15.groupid = 'BUILDING_TYPE'
        LEFT JOIN t_res_building t16 ON t1.boid = t16.oid
        LEFT JOIN t_sa_dict_item t17 ON t16.lutype = t17.dictid
        AND t17.`status` = 1
        AND t17.groupid = 'LAND_USE_TYPE'
        LEFT JOIN t_res_comm_label t111 ON t13.oid = t111.coid
        AND t111.`status` = 1
        LEFT JOIN t_sa_dict_item t112 ON t111.clabel = t112.dictid
        AND t112.groupid = 'COMM_LABEL'
        AND t112.`status` = 1
    </sql>

    <select id="listAgentBrowse" resultType="cn.jufangbao.house.shhouse.dto.CustDto">
        <include refid="houseQueryColumn" /> , t19.oid AS custid, t19.name AS custname, t19.phonenum AS phonenum
        <include refid="select" />
        INNER JOIN t_cm_agent_browse t18 ON t1.oid = t18.hoid
        AND t18.`status` = 1
        LEFT JOIN t_cm_customer t19 ON t18.coid = t19.oid
        WHERE
        1 = 1
        AND t18.aoid = #{aoid}
        GROUP BY
        t18.oid
    </select>

    <select id="listAgentBooking" resultType="cn.jufangbao.house.shhouse.dto.AgentBookingDto">
        <include refid="houseQueryColumn" /> , t19.oid AS custid, t19.name AS custname, t19.phonenum AS phonenum, t18.bookingtime
        <include refid="select" />
        INNER JOIN t_cm_agent_booking t18 ON t1.oid = t18.hoid
        AND t18.`status` = 1
        LEFT JOIN t_cm_customer t19 ON t18.coid = t19.oid
        WHERE
        1 = 1
        AND t18.aoid = #{aoid}
        AND t18.rent = #{rent}
        GROUP BY
        t18.oid
    </select>

    <select id="listAgentFollowHouse" resultType="cn.jufangbao.house.shhouse.dto.HouseDto">
        <include refid="houseQueryColumn" />
        <include refid="select" />
        INNER JOIN t_cm_agent_follow t18
        <if test="@org.apache.commons.lang3.StringUtils@equals(followtype, '1'.toString())">
        ON t1.oid = t18.follow AND t1.rent = '0'
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@equals(followtype, '2'.toString())">
            ON t1.oid = t18.follow AND t1.rent = '1'
        </if>
        AND t18.followtype = #{followtype}
        AND t18.`status` = 1
        WHERE
        1 = 1
        AND t18.aoid = #{aoid}
        GROUP BY
        t18.oid
    </select>


    <select id="listAgentFollowComm" resultType="cn.jufangbao.house.shhouse.dto.AgentFollowCommDto">
        SELECT
        t13.*, GROUP_CONCAT(
        DISTINCT t112.dictname
        ORDER BY
        t112.sort
        ) AS clabels,
        t18.createdate AS followdate
        FROM
        t_res_comm t13
        LEFT JOIN t_res_comm_label t111 ON t13.oid = t111.coid
        AND t111.`status` = 1
        LEFT JOIN t_sa_dict_item t112 ON t111.clabel = t112.dictid
        AND t112.groupid = 'COMM_LABEL'
        AND t112.`status` = 1
        INNER JOIN t_cm_agent_follow t18 ON t13.oid = t18.follow
        AND t18.`status` = 1
        WHERE
        1 = 1
        AND t18.aoid = #{aoid}
        GROUP BY
        t18.oid
    </select>

    <select id="queryAgentByOid" parameterType="String" resultType="cn.jufangbao.house.shhouse.dto.AgentWithBankcardDto">
        SELECT
        t1.*, ifnull(t2.dictname,'未知区域') AS serviceareaName
        FROM
        t_cm_agent t1
        LEFT JOIN
        t_sa_dict_item t2
        ON t1.servicearea = t2.dictid AND t2.groupid = 'COUNTY'
        WHERE
        t1.oid = #{oid}
    </select>
</mapper>