<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jufangbao.house.shhouse.mapper.TCmAgentDealMapper">
  <resultMap id="BaseResultMap" type="cn.jufangbao.house.shhouse.model.TCmAgentDeal">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="aoid" jdbcType="VARCHAR" property="aoid" />
    <result column="soid" jdbcType="VARCHAR" property="soid" />
    <result column="boid" jdbcType="VARCHAR" property="boid" />
    <result column="hoid" jdbcType="VARCHAR" property="hoid" />
    <result column="rent" jdbcType="BIGINT" property="rent" />
    <result column="dealprice" jdbcType="BIGINT" property="dealprice" />
    <result column="browsetime" jdbcType="TIMESTAMP" property="browsetime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>