<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jufangbao.house.shhouse.mapper.TResHouseLoanMapper">
  <resultMap id="BaseResultMap" type="cn.jufangbao.house.shhouse.model.TResHouseLoan">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="downpayment" jdbcType="BIGINT" property="downpayment" />
    <result column="monthpayment" jdbcType="BIGINT" property="monthpayment" />
    <result column="loan" jdbcType="BIGINT" property="loan" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>