<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jufangbao.house.shhouse.mapper.TResHouseMapper">
  <resultMap id="BaseResultMap" type="cn.jufangbao.house.shhouse.model.TResHouse">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="boid" jdbcType="VARCHAR" property="boid" />
    <result column="coid" jdbcType="VARCHAR" property="coid" />
    <result column="hname" jdbcType="VARCHAR" property="hname" />
    <result column="serialnum" jdbcType="VARCHAR" property="serialnum" />
    <result column="hnum" jdbcType="VARCHAR" property="hnum" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="decoration" jdbcType="VARCHAR" property="decoration" />
    <result column="orientation" jdbcType="VARCHAR" property="orientation" />
    <result column="hlayout" jdbcType="VARCHAR" property="hlayout" />
    <result column="year" jdbcType="SMALLINT" property="year" />
    <result column="area" jdbcType="BIGINT" property="area" />
    <result column="totalprice" jdbcType="BIGINT" property="totalprice" />
    <result column="unitprice" jdbcType="BIGINT" property="unitprice" />
    <result column="downpayment" jdbcType="BIGINT" property="downpayment" />
    <result column="ipath" jdbcType="VARCHAR" property="ipath" />
    <result column="igroupoid" jdbcType="VARCHAR" property="igroupoid" />
    <result column="icount" jdbcType="BIGINT" property="icount" />
    <result column="recomindex" jdbcType="BIGINT" property="recomindex" />
    <result column="rent" jdbcType="INTEGER" property="rent" />
    <result column="fuoid" jdbcType="VARCHAR" property="fuoid" />
    <result column="suoid" jdbcType="VARCHAR" property="suoid" />
    <result column="cuoid" jdbcType="VARCHAR" property="cuoid" />
    <result column="cdate" jdbcType="TIMESTAMP" property="cdate" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>

  <sql id="houseQueryColumn">
    SELECT
    t1.*, t2.dictname AS deconame,
    t3.dictname AS oriename,
    t4.dictname AS statname,
    t6.dictname AS layoutname,
    GROUP_CONCAT(
    DISTINCT t12.dictname
    ORDER BY
    t12.dictname
    ) AS hlabelnames,
    t13.cname,
    t13.ipath AS cipath,
    t15.dictname AS btypename,
    t17.dictname AS lutypename,
    GROUP_CONCAT(
    DISTINCT t8.aname
    ORDER BY
    t8.aname
    ) AS anames,
    t14.floor as totalfloor
    , GROUP_CONCAT(
		DISTINCT t112.dictname
		ORDER BY
			t112.sort
	) AS clabels,
	IFNULL(t113.browse, 0) AS housebrowse,
	IFNULL(t113.follow,0) AS housefollow,
	IFNULL(t113.seen, 0) AS houseseen
  </sql>
    <sql id="listQueryCond">
        WHERE 1 = 1
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(seachstr)">
            AND (t13.cname LIKE CONCAT('%',#{seachstr},'%')
            OR t16.bname LIKE CONCAT('%',#{seachstr},'%')
            OR t1.hname LIKE CONCAT('%',#{seachstr},'%')) <!--查询名称 -->
        </if>
        <if test="rent != null">
            AND t1.rent = #{rent} <!--查询租房还是售房,1是租房，0是售房-->
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(county)">
            AND t8.county = #{county} <!--查询区县 -->
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(areaid)">
            AND t8.oid =  #{areaid} <!--查询商圈-->
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(metroline)">
            AND t10.line = #{metroline} <!--查询地铁线路-->
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(metroid)">
            AND t10.oid = #{metroid} <!--查询地铁站-->
        </if>
        <if test="startprice != null">
            AND t1.totalprice &gt; #{startprice}
        </if>
        <if test="endprice != null">
            <![CDATA[AND t1.totalprice <= #{endprice}]]> <!--查询价格区间-->
        </if>
        <if test="@org.apache.commons.collections.CollectionUtils@isNotEmpty(hlayoutlist)">
            AND t6.dictid IN <!--查询户型-->
            <foreach close=")" collection="hlayoutlist" index="index" item="item" open="(" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="@org.apache.commons.collections.CollectionUtils@isNotEmpty(orilist)">
            AND t3.dictid IN <!--查询朝向-->
            <foreach close=")" collection="orilist" index="index" item="item" open="(" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="startarea != null">
            AND t1.area &gt; #{startarea} <!--查询面积-->
        </if>
        <if test="endarea != null">
            <![CDATA[AND t1.area <= #{endarea}]]>
        </if>
        <if test="@org.apache.commons.collections.CollectionUtils@isNotEmpty(hlabellist)">
            AND t12.dictid IN <!--查询房间标签-->
            <foreach close=")" collection="hlabellist" index="index" item="item" open="(" separator=",">
                #{item}
            </foreach>
        </if>
        AND t1.`status` = 1
        GROUP BY
        t1.oid
    </sql>
  <sql id="select">
    FROM
    t_res_house t1
    LEFT JOIN t_sa_dict_item t2 ON t1.decoration = t2.dictid
    AND t2.`status` = 1
    AND t2.groupid = 'HOUSE_DECORATION'
    LEFT JOIN t_sa_dict_item t3 ON t1.orientation = t3.dictid
    AND t3.`status` = 1
    AND t3.groupid = 'HOUSE_ORIENTATION'
    LEFT JOIN t_sa_dict_item t4 ON t1.`status` = t4.dictid
    AND t4.groupid = 'HOUSE_SALE_STATUS'
    LEFT JOIN t_sa_dict_item t6 ON t1.hlayout = t6.dictid
    AND t6.`status` = 1
    AND t6.groupid = 'HOUSE_LAYOUT'
    LEFT JOIN t_res_comm_area t7 ON t1.coid = t7.coid
    AND t7.`status` = 1
    LEFT JOIN t_sa_area t8 ON t7.aoid = t8.oid
    AND t8.`status` = 1
    LEFT JOIN t_res_comm_metro t9 ON t1.coid = t9.coid
    AND t9.`status` = 1
    LEFT JOIN t_sa_metro t10 ON t9.moid = t10.oid
    AND t10.`status` = 1
    LEFT JOIN t_res_house_label t11 ON t1.oid = t11.hoid
    AND t11.`status` = 1
    LEFT JOIN t_sa_dict_item t12 ON t11.hlabel = t12.dictid
    AND t12.`status` = 1
    AND t12.groupid = 'HOUSE_LABEL'
    LEFT JOIN t_res_comm t13 ON t1.coid = t13.oid
    LEFT JOIN t_res_building t14 ON t1.boid = t14.oid
    LEFT JOIN t_sa_dict_item t15 ON t14.btype = t15.dictid
    AND t15.`status` = 1
    AND t15.groupid = 'BUILDING_TYPE'
    LEFT JOIN t_res_building t16 ON t1.boid = t16.oid
    LEFT JOIN t_sa_dict_item t17 ON t16.lutype = t17.dictid
    AND t17.`status` = 1
    AND t17.groupid = 'LAND_USE_TYPE'
    LEFT JOIN t_res_comm_label t111 ON t13.oid = t111.coid
    AND t111.`status` = 1
    LEFT JOIN t_sa_dict_item t112 ON t111.clabel = t112.dictid
    AND t112.groupid = 'COMM_LABEL'
    AND t112.`status` = 1
    LEFT JOIN t_res_house_hot t113 ON t1.oid = t113.oid
    AND t113.`status` = 1
  </sql>
  <sql id="selectMany">
        <include refid="houseQueryColumn" />
        <include refid="select" />
        <include refid="listQueryCond" />
  </sql>
  <sql id="orderBy">
    <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(orderBy)">
      order by ${orderBy}
      <if test="desc == 1">
        desc
      </if>
    </if>
  </sql>

  <select id="listHouseByCond" parameterType="cn.jufangbao.house.shhouse.param.HouseQueryCondParam" resultType="cn.jufangbao.house.shhouse.dto.HouseDto">
    <include refid="selectMany" />
    <include refid="orderBy" />
  </select>

    <select id="oneHouseDetail" parameterType="String" resultType="cn.jufangbao.house.shhouse.dto.HouseDetailDto">
        <include refid="houseQueryColumn" />
        <include refid="select" />
        WHERE 1 = 1 AND t1.oid = #{oid} GROUP BY t1.oid
    </select>

    <select id="oneHouse" parameterType="String" resultType="cn.jufangbao.house.shhouse.dto.HouseDto">
        <include refid="houseQueryColumn" />
        <include refid="select" />
        WHERE 1 = 1 AND t1.oid = #{oid} GROUP BY t1.oid
    </select>

    <select id="listRecomHouseByAgentId" parameterType="String" resultType="cn.jufangbao.house.shhouse.dto.HouseDto">
        <include refid="houseQueryColumn" />
        <include refid="select" />
        INNER JOIN t_cm_agent_recom t18 ON t1.oid = t18.hoid AND t18.status = 1
        WHERE 1 = 1 AND t18.aoid = #{oid} GROUP BY t1.oid
    </select>


    <select id="listNativeHouseByAgentId" parameterType="String" resultType="cn.jufangbao.house.shhouse.dto.HouseDto">
        <include refid="houseQueryColumn" />
        <include refid="select" />
        INNER JOIN t_cm_agent_house t18 ON t1.oid = t18.hoid AND t18.status = 1
        WHERE 1 = 1 AND t18.aoid = #{oid} GROUP BY t1.oid
    </select>

    <select id="listAgentDealHouse" resultType="cn.jufangbao.house.shhouse.dto.HouseDto">
        <include refid="houseQueryColumn" />
        <include refid="select" />
        INNER JOIN t_cm_agent_deal t18 ON t1.oid = t18.hoid
        AND t18.`status` = 1
        WHERE
        1 = 1
        AND t18.aoid = #{aoid}
        AND t18.rent = #{rent}
        GROUP BY
        t18.oid
    </select>

    <select id="listAgentHouse" resultType="cn.jufangbao.house.shhouse.dto.HouseDto">
        <include refid="houseQueryColumn" />
        <include refid="select" />
        INNER JOIN t_cm_agent_house t18 ON t1.oid = t18.hoid
        AND t18.`status` = 1
        WHERE
        1 = 1
        AND t18.aoid = #{aoid}
        AND t18.rent = #{rent}
        GROUP BY
        t18.oid
    </select>


    <select id="countHouse" resultType="cn.jufangbao.house.shhouse.dto.HouseCountDto">
        SELECT
        count(

        IF (
        t1.`status` = 1
        AND t1.rent = 0,
        1,
        NULL
        )
        ) AS salecount,
        count(

        IF (
        t1.`status` = 2
        AND t1.rent = 0,
        1,
        NULL
        )
        ) AS sellcount,
        count(

        IF (
        t1.`status` = 3
        AND t1.rent = 1,
        1,
        NULL
        )
        ) AS rentcount,
        count(

        IF (
        t1.`status` = 4
        AND t1.rent = 1,
        1,
        NULL
        )
        ) AS rentedcount,
        count(IF(t1.rent = 0, 1, NULL)) AS saletotal,
        count(IF(t1.rent = 1, 1, NULL)) AS renttotal
        FROM
        t_res_house t1
    </select>

  <select id="listHouseQueryItem" resultType="cn.jufangbao.house.shhouse.dto.HouseQueryItemDto">
    SELECT
        t1.dictid AS dictid,
        t1.dictname AS dictname,
        0 AS leaf,
        NULL AS pid,
        'metro' AS type
    FROM
        t_sa_dict_item t1
    WHERE
        t1.groupid = 'METRO_LINE'
    AND t1.`status` = 1
    UNION ALL
        SELECT
            t1.oid AS dictid,
            t1.metro AS dictname,
            1 AS leaf,
            t1.line AS pid,
            'metro' AS type
        FROM
            t_sa_metro t1
        WHERE
            t1.`status` = 1
        UNION ALL
            SELECT
                t1.dictid AS dictid,
                t1.dictname AS dictname,
                0 AS leaf,
                NULL AS pid,
                'county' AS type
            FROM
                t_sa_dict_item t1
            WHERE
                t1.groupid = 'COUNTY'
            AND t1.`status` = 1
            UNION ALL
                SELECT
                    t1.oid AS dictid,
                    t1.aname AS dictname,
                    1 AS leaf,
                    t1.county AS pid,
                    'county' AS type
                FROM
                    t_sa_area t1
                WHERE
                    t1.`status` = 1
                UNION ALL
                    SELECT
                        dictid,
                        dictname,
                        0 AS leaf,
                        NULL AS pid,
                        'layout' AS type
                    FROM
                        t_sa_dict_item
                    WHERE
                        groupid = 'HOUSE_LAYOUT'
                    UNION ALL
                        SELECT
                            dictid,
                            dictname,
                            0 AS leaf,
                            NULL AS pid,
                            'orie' AS type
                        FROM
                            t_sa_dict_item
                        WHERE
                            groupid = 'HOUSE_ORIENTATION'
                        UNION ALL
                            SELECT
                                dictid,
                                dictname,
                                0 AS leaf,
                                NULL AS pid,
                                'label' AS type
                            FROM
                                t_sa_dict_item
                            WHERE
                                groupid = 'HOUSE_LABEL'
  </select>

    <select id="queryStrPrompt" resultType="String">
    SELECT
        t3.hname
    FROM
        t_res_house t3
    WHERE
        instr(t3.hname, #{str})
    AND t3.`status` = '1'
    LIMIT #{limit}
    </select>

    <select id="listLocalHouseByAgent" parameterType="java.util.List" resultType="cn.jufangbao.house.shhouse.dto.HouseDto">
        <include refid="houseQueryColumn" />
        <include refid="select" />
        WHERE t1.oid in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
        GROUP BY t1.oid
    </select>
</mapper>