<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jufangbao.house.shhouse.mapper.TSaMetroMapper">
  <resultMap id="BaseResultMap" type="cn.jufangbao.house.shhouse.model.TSaMetro">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="metro" jdbcType="VARCHAR" property="metro" />
    <result column="line" jdbcType="VARCHAR" property="line" />
    <result column="cuoid" jdbcType="VARCHAR" property="cuoid" />
    <result column="cdate" jdbcType="TIMESTAMP" property="cdate" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>