<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jufangbao.house.shhouse.mapper.TSaWechatMapper">
    <resultMap id="BaseResultMap" type="cn.jufangbao.house.shhouse.model.TSaWechat">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="oid" jdbcType="VARCHAR" property="oid"/>
        <result column="appid" jdbcType="VARCHAR" property="appid"/>
        <result column="secret" jdbcType="VARCHAR" property="secret"/>
        <result column="authtoken" jdbcType="VARCHAR" property="authtoken"/>
        <result column="accesstoken" jdbcType="VARCHAR" property="accesstoken"/>
        <result column="stime" jdbcType="TIMESTAMP" property="stime"/>
        <result column="etime" jdbcType="TIMESTAMP" property="etime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <select id="foundWechat" resultType="cn.jufangbao.house.shhouse.model.TSaWechat">
    <![CDATA[
    SELECT
        *
    FROM
        t_sa_wechat t1
    WHERE
        t1.stime < now()
    AND t1.etime > DATE_ADD(now(), INTERVAL 3000 SECOND)
    AND t1.`status` = 1
    ORDER BY
        etime DESC
    LIMIT 1
        ]]>
  </select>
</mapper>